<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Welcome2 lend final</title>
        <meta name="theme-color" content="#fff">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="stylesheet" href="./styles/main.css">

        <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=cyrillic" rel="stylesheet">

    </head>
    <body>
        @@include("../blocks/modules/header/header.html")
        <main>
            <div class="main" id="scroll">

                <h4 class="main-title" id="h4-hotels">Отели</h4>

            <section class="wrap-content">
                <div class="wrap-content-img">
                    <img src="img/img1.png" alt="">
                </div>
                <div class="wrap-content-p">
                    <p>Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.</p>
                    <p>Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот.</p>
                </div>
                <div class="wrap-content-btn">
                    <a href="#form-back">Забронировать</a>
                </div>
            </section>

            <h4 class="main-title" id="h4-transfer">Трансфер</h4>

            <section class="wrap-content">
                <div class="wrap-content-img">
                    <img src="img/img2.png" alt="">
                </div>
                <div class="wrap-content-p">
                    <p>Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.</p>
                    <p>Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот.</p>
                </div>
                <div class="wrap-content-btn">
                    <a href="#form-back">Забронировать</a>
                </div>
            </section>

            <article class="wrap-email">
                <div class="wrap-email-content">
                    <p class="wrap-email-p">Получите промо-код для скидок и специальных предложений:</p>
                    <div class="wrap-form">
                        <form action="" method="post">
                            <legend class="input-leg display-show">E-mail</legend>
                            <input name="e-mail" value="" placeholder="E-mail" class="input-email">
                            <input type="submit" class="sub-btn" value="">
                        </form>
                        <p>Нажимая на кнопку, вы даёте согласие на обработку своих персональных данных.</p>
                    </div>
                </div> 
            </article>
        
            <h4 class="main-title" id="h4-restaurants">Рестораны</h4>

            <section class="wrap-content">
                <div class="wrap-content-img">
                    <img src="img/img3.png" alt="">
                </div>
                <div class="wrap-content-p">
                    <p>Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.</p>
                    <p>Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот.</p>
                </div>
                <div class="wrap-content-btn">
                    <a href="#form-back">Забронировать</a>
                </div>
            </section>

            <h4 class="main-title" id="h4-excursions">Экскурсии</h4>

            <section class="wrap-content">
                <div class="wrap-content-img">
                    <img src="img/img4.png" alt="">
                </div>
                <div class="wrap-content-p">
                    <p>Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.</p>
                    <p>Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот.</p>
                </div>
                <div class="wrap-content-btn">
                    <a href="#form-back">Забронировать</a>
                </div>
            </section>

            <article class="wrap-email">
                <div class="wrap-email-content">
                    <p class="wrap-email-p">Получите промо-код для скидок и специальных предложений:</p>
                    <div class="wrap-form">
                        <form action="" method="post">
                            <legend class="input-leg1 display-show">E-mail</legend>
                            <input name="e-mail" value="" placeholder="E-mail" class="input-email1">
                            <input type="submit" class="sub-btn1" value="">
                        </form>
                        <p>Нажимая на кнопку, вы даёте согласие на обработку своих персональных данных.</p>
                    </div>
                </div>
            </article>
        
            <h4 class="main-title" id="h4-entertainment">Развлечения</h4>

            <section class="wrap-content">
                <div class="wrap-content-img">
                    <img src="img/img5.png" alt="">
                </div>
                <div class="wrap-content-p">
                    <p>Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.</p>
                    <p>Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот.</p>
                </div>
                <div class="wrap-content-btn">
                    <a href="#form-back">Забронировать</a>
                </div>
            </section>

            <h4 class="main-title" id="h4-shopping">Шопинг</h4>

            <section class="wrap-content">
                <div class="wrap-content-img">
                    <img src="img/img6.png" alt="">
                </div>
                <div class="wrap-content-p">
                    <p>Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.</p>
                    <p>Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот.</p>
                </div>
                <div class="wrap-content-btn">
                    <a href="#form-back">Забронировать</a>
                </div>
            </section>
        
            <section id="about-company" class="background-main">
                <h4>О компании</h4>
            </section>
          
            <section class="main-p">
                <p>Бесплатный сервис бронирования отелей по всей Украине. Наша команда — это более 60 сотрудников, которых объединяет одна цель: помочь вам остановиться в любом уголке нашей страны.</p>
                <p>Шикарный отель или недорогой хостел? Город-миллионник или небольшой поселок? Отдых или командировка? Вы получите только лучшие предложения отелей без лишней траты времени и денег.</p>
            </section>  
            
            <section class="main-wrap-ul">
                <h5>Почему нас выбирают?</h5>
                <ul>
                    <li>Бесплатные услуги бронирования</li>
                    <li>Бронирование без предоплаты</li>
                    <li>12 отелей со скидкой</li>
                    <li>Поддержка по телефону, 24/7</li>
                </ul>
            </section>

             <!-- <section class="slide">
                 <h5>Наши партнеры</h5>
                 
             </section> -->


                
                
       







            </div>
        </main>
        


        @@include("../blocks/modules/footer/footer.html")
        
        <script src="./js/main.js"></script>
        <script src="./js/vendor.js"></script>
    </body>
</html>