.page-footer {
    width: 100%;
    background-color: #212121;
    color: #8C8C8C;
    padding: 80px 0 3.7%;

    @media (max-width: 990px) {
        padding-bottom: 10.5%;
    }

    @media (max-width: 686px) {
        padding: 60px 0 12.5%;
    }

    @media (max-width: 350px) {
        padding-bottom: 11%;
    }

    & .container {
        display: flex;
        flex-wrap: wrap;
    }
}

.footer__logo {
    color: #8C8C8C;
    position: relative;
    @include col();
    @include col-size-xs(6);
    @include col-size-sm(6);
    @include col-size-md(6);
    @include col-size-lg(3);
    @include col-size-xl(3);


    span {
        font-size: 14px;
        position: absolute;
        left: 192px;

        @media (max-width: 1080px) {
            right: -25px;
        }

        @media (max-width: 370px) {
            right: -35px;
        }
    }

    &-img {
        height: 40px;
        width: 186px;
    }
}

.footer__nav {
    @include col();
    @include col-size-xs(12);
    @include col-size-sm(6);
    @include col-size-md(6);
    @include col-size-lg(6);
    @include col-size-xl(6);
    padding-left: 60px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 576px) {
        margin-top: 50px;
        padding-left: 0;
        padding-right: 60px;
    }
}

.footer__menu {
    @extend %list-none;
    font-size: 18px;

    &-item {
        margin-bottom: 17px;

        a:hover {
            color: #FFC811;
        }

    }

    &-link {
        color: #8C8C8C;
    }
}

.footer__contacts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
    font-weight: 500;
    font-size: 25px;
    @include col();
    @include col-size-xs(12);
    @include col-size-sm(12);
    @include col-size-md(12);
    @include col-size-lg(3);
    @include col-size-xl(3);

    @media (max-width: 990px) {
        align-items: flex-start;
        margin: 50px 0 0 10px;
    }

}

.footer__socials {
    @extend %list-none;
    display: flex;
    margin-top: 30px;

    &-item {
        display: flex;
    }

    &-link {
        height: 30px;
        width: 30px;
        margin-left: 27px;
        background-size: 100%;
        background-repeat: no-repeat;

        @media (max-width: 1000px) {
            margin-left: 0;
            margin-right: 5px;
        }

        @media (max-width: 768px) {
            margin-top: -10px;
            margin-right: 20px;
        }

        &.fb {
            width: 16px;
            height: 29px;
            background-image: url(../img/fb-g.png);

            &:hover {
                background-image: url(../img/fb-y.png);
            }
        }

        &.inst {
            width: 27px;
            height: 35px;
            background-image: url(../img/inst-g.png);

            &:hover {
                background-image: url(../img/inst-y.png);
            }
        }
    }
}

.footer__tel {
    color: #8C8C8C;
}

.footer__mail {
    margin-top: 16px;
    font-size: 18px;
    text-decoration: underline;
    color: #8C8C8C;

    &:hover {
        color: #FFC811;
    }
}

.footer__copyright,
.footer__policy {
    font-size: 18px;
    margin-top: 70px;
    line-height: 1.5;
    @include col();
    @include col-size-xs(12);
    @include col-size-sm(12);
    @include col-size-md(3);
    @include col-size-lg(3);
    @include col-size-xl(3);

    @media (max-width: 1000px) {
        margin-top: 60px;
    }

}

.footer__policy {
    margin-left: 75px;
    color: #8C8C8C;

    &:hover {
        color: #FFC811;
    }

    @media (max-width: 1000px) {
        margin-top: 60px;
    }

    @media (max-width: 768px) {
        margin-left: 0;
    }

    @media (max-width: 686px) {
        margin-top: 28px;
    }
}

[class^="popup-"] {
    max-width: 600px;
    min-height: 70vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    font-weight: 300;
    font-size: 30px;
    line-height: 150%;
    color: #212121;
}